# 统一换行符为 LF
* text=auto eol=lf

# 二进制文件不转换
*.jar binary
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
*.mp3 binary
*.wav binary
*.zip binary
